.operatorSumMenu{
    background: #D97904;
    width: 40px;
    height: 40px;
    border-radius: 5px 0px 0px 0px;
    border: 1px solid #400101;
    font-size: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: #FFECDC;
}
